.vercel
.env
.env.*
*.local

node_modules/
medidor-ganho/node_modules/
api/node_modules/

medidor-ganho/dist/
medidor-ganho/web-build/
medidor-ganho/.expo/
medidor-ganho/*.tsbuildinfo

Thumbs.db
.DS_Store
*.log
npm-debug.*
yarn-error.*
